# OSX
._*
.DS_Store

# visual studio code
.vscode/*

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

.env
.gocache/
bin
.cache
.modcache
cover.out

cmd/plugin/release/ingress-nginx.yaml
cmd/plugin/release/*.tar.gz
cmd/plugin/release/LICENSE
tmp/
test/junitreports/
tests/__snapshot__
