{{- if .Values.apiGotenberg.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: api-gotenberg
  namespace: {{ .Values.global.namespace }}
  labels:
    app: api-gotenberg
  {{- with .Values.apiGotenberg.service.annotations }}
  annotations:
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  ports:
    - name: "3000"
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: api-gotenberg
{{- end }}

