{{- if .Values.apiGotenberg.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- with .Values.apiGotenberg.extraAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    app: api-gotenberg
    {{- with .Values.apiGotenberg.extraLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  name: api-gotenberg
  namespace: {{ .Values.global.namespace }}
spec:
  selector:
    matchLabels:
      app: api-gotenberg
  revisionHistoryLimit: 2
  minReadySeconds: 15
  progressDeadlineSeconds: 300
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      {{- with .Values.apiGotenberg.podExtraAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: api-gotenberg
        {{- with .Values.apiGotenberg.podExtraLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
        - name: {{ .name }}
        {{- end }}
      {{- end }}
      containers:
        - args:
          {{- range .Values.apiGotenberg.args }}
          - {{ . }}
          {{- end }}
          image: gotenberg/gotenberg:{{ .Values.apiGotenberg.image.tag }}
          name: api-gotenberg
          resources:
            {{- toYaml .Values.apiGotenberg.resources | nindent 12 }}
          ports:
            - name: http
              containerPort: 3000
              hostPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          securityContext:
            privileged: false
            runAsUser: 1001
{{- end }}

